@import "../fonts/fonts.css";
body {
  margin: 0px;
}
.block {
  width: 1440px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background: url("../img/404/background.png");
  background-size: cover;
}
.block__mistake {
  width: 60%;
  height: 300px;
  font-size: 300px;
  font-weight: bold;
  margin-left: 150px;
}
.block__text {
  height: 115px;
  margin-top: 60px;
  margin-left: 150px;
  font-size: 40px;
}
