@import "../fonts/fonts.css";
body {
  margin: 0px;
}
.block {
  width: 1440px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background: url("../img/404/background.png");
  background-size: cover;
}
.block__mistake {
  width: 60%;
  height: 300px;
  font-size: 300px;
  font-weight: bold;
  padding-top: 150px;
  padding-left: 200px;
}
.block__text {
  width: 50%;
  height: 115px;
  padding-top: 80px;
  padding-left: 350px;
  font-size: 40px;
}
