@import "../fonts/fonts.css";
.main {
  width: 1440px;
  height: 755px;
  background: url("../img/main/background__main.png");
  background-size: cover;
  padding-top: 48px;
}
.main__section {
  width: 625px;
  height: 380px;
  margin-top: 81px;
  color: #fcfcfc;
  font-family: 'Montserrat';
  font-size: 26px;
  font-weight: 100;
  margin-left: 225px;
}
.main__section>h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 100%;
  font-family: 'Century-Gothic';
  font-size: 75px;
  font-weight: 900;
}
.main__section>p {
  margin-top: 60px;
  margin-bottom: 0px;
}
.main__button-applications {
  width: 400px;
  height: 77px;
  background: #fff;
  color: #000;
  border: #fff;
  font-size: 26px;
  font-family: 'Montserrat-Medium';
  font-weight: 600;
  margin: 77px 0px 0px 225px;
  padding: 0px 7px 0px 0px;
  border-radius: 10px;
}
.main__button-applications:hover {
  background: #000;
  color: #fff;
}
.heart {
  width: 318px;
  height: 269px;
  background: url("../img/main/сердце.png");
  background-size: 100% 100%;
  position: relative;
  bottom: 543px;
  left: 969px;
  cursor: pointer;
  font-size: 23px;
  font-family: 'Montserrat-Regular';
  padding-top: 50px;
}
#clickCounter {
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 24px;
  margin-top: 5px;
  margin-left: 96px;
}
