@import "../fonts/font.css";
.services {
  width: 1440px;
  height: 1643px;
}
.services__heading {
  width: 1020px;
  height: 220px;
  margin: 50px 210px 25px 210px;
  font-family: 'Montserrat';
  font-size: 20px;
  color: #060606;
  border: none;
}
.services__heading>h2 {
  font-family: 'Century-Gothic';
  color: #ff383c;
  font-size: 60px;
  font-weight: 900;
  line-height: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
}
.services__heading>p {
  line-height: 124%;
  margin: 0px;
}
.services__header {
  width: 1360px;
  height: auto;
  margin: 0px 40px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 65px;
  border: none;
}
.services__header-component {
  width: 290px;
  height: 242px;
  text-align: center;
  border: none;
  font-size: 16px;
  font-family: 'Montserrat-Regular';
}
.services__header-component>img {
  width: 120px;
  height: 70px;
  margin-left: 5px;
  border-radius: 5px;
}
.services__header-component>h6 {
  font-family: 'Century-Gothic';
  font-weight: bold;
  margin: 24px 0px 0px 2px;
  font-size: 24px;
}
.services__header-component>p {
  margin: 0px;
  line-height: 137%;
  letter-spacing: 1px;
  margin-top: 35px;
}
.services__content {
  width: 1320px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  margin: 0px 60px 100px 60px;
}
.services__content-img {
  width: 700px;
  height: 400px;
  border-radius: 15px;
  animation: Spiderman 12s infinite normal;
}
.services__content-text {
  width: 548px;
  height: 486px;
  font-size: 20px;
  font-weight: 100;
  font-family: 'Montserrat-Regular';
}
.services__content-text>h2 {
  font-family: 'Century-Gothic';
  line-height: 100%;
  color: #ff383c;
  font-size: 60px;
  font-weight: 500;
  margin-top: 21px;
  margin-bottom: 60px;
}
.services__footer {
  width: 1200px;
  height: 465px;
  margin: 0px 120px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 365px 52px 365px 52px 365px;
  grid-template-columns: repeat(3, 365px);
  -ms-grid-rows: 200px 52px 200px;
  grid-template-rows: repeat(2, 200px);
  gap: 52px;
}
.services__footer > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.services__footer > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.services__footer > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.services__footer > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.services__footer > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.services__footer > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.services__line {
  width: 1260px;
  margin: 73px 90px;
  border: 1px solid #ff383c;
}
.services__FIRSTstage {
  width: 365px;
  height: 201px;
  font-size: 21px;
  font-family: 'Montserrat';
  background: url("../svgicons/our-services/stage_01.png");
  background-size: cover;
  border-radius: 15px;
  color: #fff;
}
.services__FIRSTstage>p {
  font-weight: bold;
  line-height: 100%;
  margin: -1px 0px 0px 24px;
}
.services__FIRSTstage:hover {
  background: url("../svgicons/our-services/stage_03.png");
  background-size: cover;
}
.services__SECONDstage {
  width: 365px;
  height: 201px;
  font-size: 21px;
  font-family: 'Montserrat';
  border-radius: 15px;
  border: 1px #000 solid;
  background-size: cover;
}
.services__SECONDstage>p {
  font-weight: bold;
  line-height: 100%;
  margin: -1px 0px 0px 24px;
}
.services__SECONDstage:hover {
  background: url("../svgicons/our-services/stage_05.png");
  background-size: cover;
  color: #fff;
  border: none;
}
.services__THIRDstage {
  width: 365px;
  height: 201px;
  font-size: 21px;
  font-family: 'Montserrat';
  color: #fff;
  background: url("../svgicons/our-services/stage_03.png");
  background-size: cover;
  border-radius: 15px;
}
.services__THIRDstage>p {
  font-weight: bold;
  line-height: 100%;
  margin: -1px 0px 0px 24px;
}
.services__THIRDstage:hover {
  background: #fff;
  border: 1px #000 solid;
  color: #000;
}
.services__FOURTHstage {
  width: 365px;
  height: 201px;
  font-size: 21px;
  font-family: 'Montserrat';
  background: url("../svgicons/our-services/stage_06.png");
  background-size: cover;
  border-radius: 15px;
  border: 1px #000 solid;
}
.services__FOURTHstage>p {
  font-weight: bold;
  line-height: 100%;
  margin: -1px 0px 0px 24px;
}
.services__FOURTHstage:hover {
  background: url("../svgicons/our-services/stage_03.png");
  background-size: cover;
  border: none;
  color: #fff;
}
.services__FIFTHstage {
  width: 365px;
  height: 201px;
  font-size: 21px;
  font-family: 'Montserrat';
  color: #fff;
  background: url("../svgicons/our-services/stage_05.png");
  background-size: cover;
  border-radius: 15px;
}
.services__FIFTHstage>p {
  font-weight: bold;
  line-height: 100%;
  margin: -1px 0px 0px 24px;
}
.services__FIFTHstage:hover {
  background: url("../svgicons/our-services/stage_06.png");
  background-size: cover;
  color: #000;
  border: 1px #000 solid;
}
.services__SIXTHstage {
  width: 365px;
  height: 201px;
  font-size: 21px;
  font-family: 'Montserrat';
  border-radius: 15px;
  border: 1px #000 solid;
}
.services__SIXTHstage>p {
  font-weight: bold;
  line-height: 100%;
  margin: -1px 0px 0px 24px;
}
.services__SIXTHstage:hover {
  background: url("../svgicons/our-services/stage_01.png");
  background-size: cover;
  color: #fff;
  border: none;
}
.services__headings {
  font-size: 21px;
  font-family: 'Century-Gothic';
  margin: 29px 27px 77px 0px;
  font-size: 20px;
  text-align: end;
}
@keyframes Spiderman {
  0% {
    background: url("img/our-services/Spiderman_20%.png");
    background-size: 100% 100%;
  }
  25% {
    background: url("img/our-services/Spiderman_40%.png");
    background-size: 100% 100%;
  }
  50% {
    background: url("img/our-services/Spiderman_60%.png");
    background-size: 100% 100%;
  }
  75% {
    background: url("img/our-services/Spiderman_80%.png");
    background-size: 100% 100%;
  }
  100% {
    background: url("img/our-services/Spiderman_100%.png");
    background-size: 100% 100%;
  }
}
