@font-face {
  font-family: 'Montserrat';
  src: url("Montserrat/Montserrat.woff") format(woff);
  font-display: optional;
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url("Montserrat/Montserrat-Medium.woff") format(woff);
  font-display: optional;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("Montserrat/Montserrat-Regular.ttf") format(woff);
  font-display: optional;
}
