@font-face {
  font-family: 'Raleway';
  src: url("Raleway/Raleway.ttf") format(ttf);
  src: url("Raleway/Raleway.woff") format(woff);
  font-display: optional;
}
@font-face {
  font-family: 'Raleway-Regular';
  src: url("Raleway/Raleway-Regular.ttf") format(ttf);
  font-display: optional;
}
