@font-face {
  font-family: 'Raleway';
  src: url("fonts/Raleway/Raleway.ttf") format(ttf);
  src: url("fonts/Raleway/Raleway.woff") format(woff);
  src: url("fonts/Raleway/Raleway.woff2") format(woff2);
  font-display: optional;
}
@font-face {
  font-family: 'Raleway-Regular';
  src: url("fonts/Raleway/Raleway-Regular.ttf") format(ttf);
  font-display: optional;
}
@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat.woff") format(woff);
  src: url("fonts/Montserrat/Montserrat.woff2") format(woff2);
  font-display: optional;
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url("fonts/Montserrat/Montserrat-Medium.woff") format(woff);
  src: url("fonts/Montserrat/Montserrat-Medium.woff2") format(woff2);
  font-display: optional;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("fonts/Montserrat/Montserrat-Regular.ttf") format(woff);
  src: url("fonts/Montserrat/Montserrat-Regular.woff") format(woff);
  src: url("fonts/Montserrat/Montserrat-Regular.woff2") format(woff2);
  font-display: optional;
}
@font-face {
  font-family: 'Century-Gothic';
  src: url("fonts/CenturyGothic/CenturyGothic.woff") format(woff);
  src: url("fonts/CenturyGothic/CenturyGothic.woff2") format(woff2);
  font-display: optional;
}
