@import "../services.css";
@media (min-width: 1441px) and (max-width: 1920px) {
  .services {
    width: 100%;
    height: auto;
    padding-top: 20px;
  }
  .services__heading {
    width: 100%;
    height: auto;
    margin: 0px;
    text-align: center;
    margin: 0px;
  }
  .services__header {
    width: 100%;
    height: auto;
    gap: 0px;
    justify-content: space-around;
    margin-left: 0px;
  }
  .services__header-component {
    width: 320px;
    height: 280px;
  }
  .services__header-component>h6 {
    font-size: 24px;
  }
  .services__header-component>p {
    font-size: 18px;
    margin-top: 30px;
  }
  .services__line {
    width: 95%;
    margin: 73px 25px;
  }
  .services__content {
    margin-left: 0px;
    width: 100%;
    gap: 50px;
  }
  .services__content-img {
    width: 830px;
    height: 450px;
    margin-left: 50px;
  }
  .services__content-text {
    width: 500px;
    height: 450px;
    font-size: 22px;
  }
  .services__content-text>h2 {
    font-size: 65px;
  }
  .services__footer {
    width: 100%;
    margin: 0px;
    justify-content: center;
  }
}
@media (min-width: 1155px) and (max-width: 1439px) {
  .services {
    width: 100%;
    height: auto;
    padding-top: 20px;
  }
  .services__heading {
    width: 100%;
    height: auto;
    margin: 0px;
    text-align: center;
  }
  .services__heading>h1 {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .services__heading>p {
    font-size: 20px;
    margin: 0px;
    gap: 15%;
  }
  .services__header {
    width: 100%;
    height: auto;
    gap: 0px;
    justify-content: space-around;
    margin: 0px;
    margin-top: 20px;
  }
  .services__header__component {
    width: 270px;
  }
  .services__header__component>h6 {
    font-size: 1.2em;
  }
  .services__header__component>p {
    letter-spacing: 0px;
  }
  .services__line {
    width: 95%;
    margin: 73px 0px 73px 25px;
  }
  .services__content {
    width: 100%;
    height: auto;
    margin: 0px;
    justify-content: center;
    margin-bottom: 50px;
  }
  .services__content-text {
    width: 550px;
    height: auto;
  }
  .services__content-img {
    width: 45%;
    height: 320px;
  }
  .services__footer {
    width: 100%;
    margin: 0px;
    justify-content: center;
    height: auto;
    -ms-grid-columns: (auto)[3];
    grid-template-columns: repeat(3, auto);
    -ms-grid-rows: (auto)[2];
    grid-template-rows: repeat(2, auto);
  }
  .services__footer > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .services__footer > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .services__footer > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .services__footer > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .services__footer > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .services__footer > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .services__footer>div {
    width: 300px;
    height: 160px;
    font-size: 1em;
  }
  .services__headings {
    margin-bottom: 50px;
  }
}
@media (min-width: 801px) and (max-width: 1154px) {
  .services {
    width: 100%;
    height: auto;
    padding-top: 20px;
  }
  .services__heading {
    width: 100%;
    height: auto;
    margin: 0px;
    text-align: center;
  }
  .services__heading>h1 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .services__heading>p {
    font-size: 18px;
    margin: 0px;
    gap: 15%;
  }
  .services__heading__component {
    width: 35%;
  }
  .services__header {
    width: 100%;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
    grid-template-columns: repeat(2, auto);
    -ms-grid-rows: (auto)[2];
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    margin: 20px 0px 50px 0px;
  }
  .services__header > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .services__header > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .services__header > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .services__header > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .services__line {
    display: none;
  }
  .services__content {
    width: 100%;
    height: auto;
    margin: 0px;
    margin-bottom: 35px;
    justify-content: center;
  }
  .services__content-text {
    width: 400px;
    height: auto;
    font-size: 16px;
    gap: 5%;
  }
  .services__content-text>h2 {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .services__content-img {
    width: 40%;
    height: 240px;
  }
  .services__footer {
    width: 100%;
    margin: 0px;
    height: auto;
    -ms-grid-columns: auto 40px auto;
    grid-template-columns: repeat(2, auto);
    -ms-grid-rows: auto 40px auto 40px auto;
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    gap: 40px;
  }
  .services__footer > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .services__footer > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .services__footer > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .services__footer > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .services__footer > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .services__footer > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
}
@media (min-width: 320px) and (max-width: 800px) {
  .services {
    width: 100%;
    height: auto;
    padding-top: 20px;
  }
  .services__heading {
    width: 100%;
    height: auto;
    margin: 0px;
    margin-bottom: 20px;
    text-align: center;
  }
  .services__heading>span {
    font-size: 25px;
  }
  .services__heading>h2 {
    font-size: 2em;
    margin-top: 1px;
    margin-bottom: 15px;
  }
  .services__heading>p {
    font-size: 15px;
    margin: 0px;
    margin: 0px;
    gap: 15%;
  }
  .services__header {
    width: 100%;
    height: auto;
    gap: 30px;
    justify-content: space-around;
    margin: 0px;
    margin-bottom: 20px;
  }
  .services__line {
    display: none;
  }
  .services__content {
    width: 100%;
    height: auto;
    margin: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    gap: 5%;
    justify-content: center;
    text-align: center;
  }
  .services__content-text {
    width: auto;
    text-align: center;
    height: auto;
  }
  .services__content-text>h2 {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .services__content-text>p {
    letter-spacing: 0.5px;
    font-size: 0.8em;
  }
  .services__content-img {
    display: none;
  }
  .services__footer {
    width: 100%;
    height: auto;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .services__FIRSTstage {
    width: auto;
    height: 100px;
    padding: 25px 30px;
    font-size: 1em;
    background-size: 130% 100%;
  }
  .services__FIRSTstage:hover {
    background-size: 120% 100%;
  }
  .services__FIRSTstage>p {
    margin: 0px;
  }
  .services__SECONDstage {
    width: auto;
    height: 100px;
    padding: 25px 30px;
    font-size: 1em;
    background-size: 130% 100%;
  }
  .services__SECONDstage:hover {
    background-size: 120% 100%;
  }
  .services__SECONDstage>p {
    margin: 0px;
  }
  .services__THIRDstage {
    width: auto;
    height: 100px;
    padding: 25px 30px;
    font-size: 1em;
    background-size: 130% 100%;
  }
  .services__THIRDstage:hover {
    background-size: 120% 100%;
  }
  .services__THIRDstage>p {
    margin: 0px;
  }
  .services__FOURTHstage {
    width: auto;
    height: 100px;
    padding: 25px 30px;
    font-size: 1em;
    background-size: 130% 100%;
  }
  .services__FOURTHstage:hover {
    background-size: 120% 100%;
  }
  .services__FOURTHstage>p {
    margin: 0px;
  }
  .services__FIFTHstage {
    width: auto;
    height: 100px;
    padding: 25px 30px;
    font-size: 1em;
    background-size: 130% 100%;
  }
  .services__FIFTHstage:hover {
    background-size: 120% 100%;
  }
  .services__FIFTHstage>p {
    margin: 0px;
  }
  .services__SIXTHstage {
    width: auto;
    height: 100px;
    padding: 25px 30px;
    font-size: 1em;
    background-size: 130% 100%;
  }
  .services__SIXTHstage:hover {
    background-size: 120% 100%;
  }
  .services__SIXTHstage>p {
    margin: 0px;
  }
  .services__headings {
    margin: 0px;
    margin-bottom: 50px;
  }
}
