@import "../footer.css";
@media (min-width: 1441px) and (max-width: 1920px) {
  .footer {
    width: 100%;
    height: auto;
    margin-top: 50px;
  }
  .footer__heading {
    width: 100%;
    height: auto;
    margin: 0px;
  }
  .footer__form {
    width: 85%;
    margin: 55px 0px 20px 0px;
    margin-left: 5%;
    padding: 0px;
    justify-content: space-between;
  }
  .footer__input {
    width: 35%;
    height: 90px;
    font-size: 26px;
    border-radius: 30px;
    text-align: center;
    padding: 0px;
  }
  .footer__logo {
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1155px) and (max-width: 1439px) {
  .footer {
    width: 100%;
    height: auto;
  }
  .footer__heading {
    width: 100%;
    height: auto;
    margin: 0px;
    font-size: 1em;
  }
  .footer__heading>h1 {
    font-size: 3.5em;
    margin: 0px;
    margin-bottom: 15px;
  }
  .footer__form {
    width: 100%;
    height: auto;
    margin: 35px 0px 25px 0px;
    justify-content: center;
    box-shadow: 0px 0px 0px #000;
    background: transparent;
  }
  .footer__form>hr {
    height: 60px;
    margin: 0px 12px;
  }
  .footer__input {
    width: 25%;
    height: 60px;
    font-size: 26px;
    border-radius: 30px;
    border: 2px #000 solid;
    padding: 0px;
    text-align: center;
  }
  .footer__button {
    height: 60px;
    margin-left: 20px;
  }
  .footer__logo {
    width: 254px;
    height: 60px;
    margin: 0px 0px 20px 120px;
  }
}
@media (min-width: 801px) and (max-width: 1154px) {
  .footer {
    width: 100%;
    height: auto;
  }
  .footer__heading {
    width: 100%;
    height: auto;
    margin: 0px;
    font-size: 1em;
  }
  .footer__heading>h1 {
    font-size: 3.5em;
    margin: 0px;
    margin-bottom: 15px;
  }
  .footer__form {
    width: 100%;
    margin: 55px 0px 20px 0px;
    padding: 0px;
    justify-content: space-around;
    box-shadow: 0px 0px 0px #000;
  }
  .footer__form>hr {
    display: none;
  }
  .footer__input {
    width: 27%;
    height: 60px;
    font-size: 20px;
    border-radius: 30px;
    text-align: center;
    border: 2px #000 solid;
    padding: 0px;
    margin: 0px;
  }
  .footer__button {
    width: 254px;
    height: 60px;
    padding: 0px;
    font-size: 20px;
    gap: 0px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }
  .footer__button>img {
    display: none;
  }
  .footer__logo {
    width: 254px;
    height: 60px;
    margin: 0px 0px 20px 120px;
  }
}
@media (min-width: 320px) and (max-width: 800px) {
  .footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer__heading {
    width: 100%;
    height: auto;
    margin: 0px;
    font-size: 1em;
  }
  .footer__heading>h2 {
    font-size: 2.5em;
    margin: 0px;
    margin-bottom: 15px;
  }
  .footer__form {
    width: 100%;
    height: auto;
    margin: 25px 0px 20px 0px;
    padding: 0px;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    box-shadow: 0px 0px 0px #000;
  }
  .footer__form>hr {
    display: none;
  }
  .footer__input {
    width: 50%;
    height: 50px;
    font-size: 1.2em;
    border-radius: 30px;
    border: 2px #000 solid;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
  .footer__button {
    width: 50%;
    height: 60px;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    gap: 0px;
    font-size: 1em;
    justify-content: center;
    align-items: center;
  }
  .footer__button>img {
    display: none;
  }
  .footer__logo {
    width: 254px;
    height: 60px;
    margin: 0px 0px 20px 0px;
  }
}
