@import "../clients.css";
@media (min-width: 1441px) and (max-width: 1920px) {
  .clients {
    width: auto;
    margin-top: 50px;
  }
  .clients__heading {
    width: 100%;
    margin: 0px;
  }
  .clients__content {
    width: 100%;
    height: auto;
    margin: 0px;
    margin-top: 50px;
    justify-content: center;
  }
  .clients__basement {
    width: 100%;
  }
}
@media (min-width: 1155px) and (max-width: 1439px) {
  .clients {
    width: 100%;
    height: auto;
  }
  .clients__heading {
    width: 100%;
    height: 100px;
    display: -ms-grid;
    display: grid;
    justify-content: center;
    margin: 32px 0px 40px 0px;
    font-size: 1.5em;
  }
  .clients__heading>h2 {
    font-size: 2.5em;
    margin: 0px;
  }
  .clients__content {
    width: 100%;
    height: auto;
    justify-content: center;
    margin: 60px 0px 0px 0px;
    -ms-grid-columns: (auto)[3];
    grid-template-columns: repeat(3, auto);
    -ms-grid-rows: (auto)[3];
    grid-template-rows: repeat(3, auto);
  }
  .clients__content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .clients__content > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .clients__content > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .clients__content > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .clients__content > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .clients__content > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .clients__content > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .clients__content > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .clients__content > *:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .clients__content>div {
    width: 300px;
    height: 180px;
    background-size: 135% 135%;
  }
  .clients__basement {
    width: 100%;
    margin-top: 50px;
    width: 100%;
  }
}
@media (min-width: 801px) and (max-width: 1154px) {
  .clients {
    width: 100%;
    height: auto;
  }
  .clients__heading {
    width: 100%;
    height: 100px;
    display: -ms-grid;
    display: grid;
    justify-content: center;
    margin: 32px 0px 40px 0px;
    font-size: 1.5em;
  }
  .clients__heading>h2 {
    font-size: 2em;
    margin: 0px;
  }
  .clients__content {
    width: 100%;
    height: auto;
    gap: 30px;
    justify-content: center;
    margin: 30px 0px 0px 0px;
    -ms-grid-columns: auto 30px auto 30px auto;
    grid-template-columns: repeat(3, auto);
    -ms-grid-rows: auto 30px auto 30px auto;
    grid-template-rows: repeat(3, auto);
  }
  .clients__content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .clients__content > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .clients__content > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .clients__content > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .clients__content > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .clients__content > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  .clients__content > *:nth-child(7) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .clients__content > *:nth-child(8) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .clients__content > *:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
  }
  .clients__content>div {
    width: 240px;
    height: 160px;
    box-shadow: none;
    background-size: 120% 125%;
  }
  .clients__basement {
    margin-top: 50px;
    height: 60px;
    width: 100%;
  }
}
@media (min-width: 665px) and (max-width: 800px) {
  .clients {
    width: 100%;
    height: auto;
  }
  .clients__heading {
    width: 100%;
    height: 100px;
    display: -ms-grid;
    display: grid;
    justify-content: center;
    margin: 32px 0px 40px 0px;
    font-size: 1.5em;
  }
  .clients__heading>h2 {
    font-size: 2em;
    margin: 0px;
  }
  .clients__content {
    width: 100%;
    height: auto;
    -moz-column-gap: 5%;
         column-gap: 5%;
    row-gap: 40px;
    justify-content: center;
    margin: 50px 0px 0px 0px;
    -ms-grid-columns: 1fr 5% 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto 40px auto 40px auto;
    grid-template-rows: repeat(3, auto);
  }
  .clients__content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .clients__content > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .clients__content > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .clients__content > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .clients__content > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .clients__content > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .clients__content>div {
    width: 80%;
    height: 180px;
    background-size: 120% 130%;
    border-radius: 30px;
  }
  .clients__tyres {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .clients__huawel {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .clients__PlayStation {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .clients__renault {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .clients__sumsung {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .clients__jacobs {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .clients__hp {
    display: none;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .clients__volvo {
    display: none;
  }
  .clients__pantovigar {
    display: none;
  }
  .clients__basement {
    margin-top: 50px;
    height: 55px;
    width: 100%;
  }
}
@media (max-width: 664px) {
  .clients {
    width: 100%;
    height: auto;
  }
  .clients__heading {
    width: 100%;
    height: 100px;
    display: -ms-grid;
    display: grid;
    justify-content: center;
    margin: 32px 0px 40px 0px;
    font-size: 1.5em;
  }
  .clients__heading>h2 {
    font-size: 1.5em;
    margin: 0px;
  }
  .clients__content {
    width: 100%;
    height: auto;
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 2%;
    justify-content: center;
    margin: 50px 0px 0px 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto 2% auto 2% auto 2% auto;
    grid-template-rows: repeat(4, auto);
  }
  .clients__content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .clients__content > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .clients__content > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .clients__content > *:nth-child(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .clients__content>div {
    width: 50%;
    height: 160px;
    background-size: cover;
    border-radius: 30px 30px;
  }
  .clients__huawel {
    -ms-grid-column-align: center;
        justify-self: center;
    box-shadow: 0px 0px 0px;
  }
  .clients__sumsung {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .clients__jacobs {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .clients__PlayStation {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .clients__tyres {
    display: none;
  }
  .clients__volvo {
    display: none;
  }
  .clients__pantovigar {
    display: none;
  }
  .clients__hp {
    display: none;
  }
  .clients__renault {
    display: none;
  }
  .clients__basement {
    margin-top: 50px;
    width: 100%;
    height: 55px;
  }
}
