@font-face {
  font-family: 'Raleway';
  src: url("../Raleway/Raleway.ttf") format(ttf);
  src: url("../Raleway/Raleway.woff") format(woff);
  src: url("../Raleway/Raleway.woff2") format(woff2);
}
@font-face {
  font-family: 'Raleway-Regular';
  src: url("../Raleway/Raleway-Regular.ttf") format(ttf);
}
